.section {
    margin-bottom: 35px;
}

.section h1, .section h2 {
    margin-bottom: 5px;
}

.section p {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #232528;
    padding: 7px;
}

th {
    text-align: left;
}

th.name {
    width: 50%;
}

th.version {
    width: 20%;
}

th.links {
    width: 30%;
}
