{% extends 'base/base.html.twig' %}

{% block title %}Builds{% endblock %}

{% block body %}

    <h1>Builds</h1>

        <table>
            <thead>
                <th>Name</th>
                <th>Release date</th>
                <th>Downloads</th>
            </thead>
            <tbody>
                <tr>
                    <td>Wase Engine 1.0 source</td>
                    <td>19-07-2021</td>
                    <td><a href="https://github.com/Wase-Engine/wase-engine/archive/refs/tags/1.0.zip">Download</a></td>
                </tr>
                <tr>
                    <td>Wase Engine 1.0 pre-compiled</td>
                    <td>19-07-2021</td>
                    <td><a href="https://github.com/Wase-Engine/wase-engine/releases/download/1.0/wase-engine-v1.0-precompiled.zip">Download</a></td>
                </tr>
            </tbody>
        </table>

{% endblock %}
